{{#if debe_mostrar}}
  <div class="texto tc pv3">
    <progress max="100" value={{progreso}}>{{progreso}}%</progress>

    <div class="verdana texto f7 pt2">
      Tamaño {{tamano_total}}
    </div>
  </div>
{{/if}}
